@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(197, 118, 27), rgb(248, 135, 6),  rgb(212, 161, 89), rgb(206, 155, 83));
    text-align: center;
}


.container{
    background: linear-gradient(rgb(197, 118, 27), rgb(248, 135, 6),  rgb(212, 161, 89), rgb(206, 155, 83));
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1{
    text-align: center;
    font-weight: 500;
    font-family: 'Kaushan Script', sans-serif;
}

.board{
    width: 400px;
    margin: 20px auto;
}

.button{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

button{
    color: #000000;
    background-color: rgb(197, 118, 27);
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 40px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    align-items: center;
    font-family: 'Pinyon Script', sans-serif;
}

button:hover{
    background-color: #ff9900;
}

